body {
  margin: 0;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
  display: block;
}
audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
 }
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: inherit;
}

b,strong {
  font-weight: bolder;
 }

img {
  border: 0;

}
pre {
  overflow: auto;
}
code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
 }
button,input,optgroup,select,textarea {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul, li {
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}

body{
  width: 100%;
}
#main{
  background: url("images/top-banner.jpg") no-repeat top center;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
header{
  width: 100%;
  padding-top:26px;
}
#logo{
  width: 25%;
  float: left;
}
#info-area{
  background: #eeecec;
  width: 100%;
  float:left;
  padding: 80px 0px;
}
#speakers{
  background: #eeecec;
  float: left;
  width: 100%;
  padding: 80px 0px;
}
.sponsors{
  width: 100%;
    float: left;
}
nav{
  width: 75%;
  float: left;
  margin-top: 29px;
}
nav ul li{
  display: inline-block;
  margin-right: 45px;
}
nav ul li:last-of-type{
  margin-right: 0px;
}
nav ul li a{
  text-transform: uppercase;
  color: #fff;
}
nav ul li a:hover{
  color: #ffd845;
}
nav ul li:last-of-type a{
  background: #fff;
  border-radius: 50px;
  color: #346f9e;
  padding: 13px 25px;
}
nav ul li:last-of-type a:hover{
  background: #3c78a9;
  color: #fff;
}
#banner-text{
  width: 50%;
  float: left;
  margin-top: 60px;
  padding-left: 8%;
  color: #fff;
}
#big-text{
  width: 100%;
  font-size: 60px;

}
#banner-desc{
  width: 100%;
  margin-top: 65px;
  margin-bottom: 40px;
}
.action{margin-bottom: 72px;}
.action a{
  background: #ffd845;
  color: #000;
  border-radius: 50px;
  padding: 20px 58px;
  text-transform: uppercase;
}
.action a:hover{
  background: #3c78a9;
  color: #fff;
}
.grid-50{
  width: 50%;
  float: left;

}
#speakers .grid-50{
  float: right;
}
.the-text  h3{
  font-family: HelveticaNeueLTCom;
    font-size: 29.17px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;

}
.the-text p{
    font-family: Graphik;
    font-size: 20.83px;
    color: #2f2f2f;
}
#speakers{
  width: 100%;
  float: left;
}
#speakers .the-text{
  width: 45%;
  float: left;
  margin-right: 10px;
}
.propose{
  width:48.4%;
  float: left;
  text-align: center;
  margin: 80px 135px;
  }
.propose a{
   font-family: Graphik;
    font-size: 20.83px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 52px;
    background: #4382b3;
}
.propose a:hover{
  color: #4382b3;
  background:#ffd845;
}
.venue .the-text{
  width:30%;
  float: left;
  text-align: center;
  margin: auto 2%;
}
.venue .the-text h3{
  padding-top: 80px;
}
.venue .image{
  width: 66%;
  float:left;
}
.find{ 
  width:35%;
  float: left;
  margin: 60px 130px;

}
.find a{
   font-family: HelveticaNeueLTCom;
    font-size: 20.83px;
    color: #333;
    text-transform: uppercase;
    padding: 5px 25px;
    border: 2px solid #ffd845;
}
.find a:hover{
  color: #4382b3;
  border:2px solid #333;
}
.sponsors .the-text{
  width:30%;
  float: left;
  text-align: center;
  margin: auto 2%;
}
.sponsors .the-text h3{
  padding-top: 120px;
}
.sponsors .find a{
  border:2px solid #4382b3;
}
.sponsors .find a:hover{
  border:2px solid #333;
}
.sponsors .image{
  width: 66%;
  float: left;
}
.sponsors .the-text .find p{
  border: 2px solid #4382b3;
}
footer{
  width:100%;
  float: left;
  background: #555555;
  padding: 80px 0px;
}
.logo{
    width: 21%;
    margin:auto 2%;
    float: left;

}
.first{
  width: 23%;
    float: left;
    margin-left: 2%;
}
.first h3{
  font-family: HelveticaNeueLTCom;
    font-size: 20.83px;
    color: #fff;
    text-transform: uppercase;
}
.first ul li a{
  font-family: HelveticaNeueLTCom;
    font-size: 20.83px;
    color: #fff;
}
.first ul li a:hover{
  color:#4382b3;
}

     